@import '../../../styles/defines';

.table-container {
    padding-top: 50px;
}

Table {
    border-collapse: collapse;
    width: 100%;
}

Table td,
Table th {
    border: 1px solid rgb(161, 161, 161);
    padding: 8px;
}

Table tr:nth-child(even) {
    background-color: #f2f2f2;
}

Table tr:hover {
    background-color: #e9e9e9;
}

Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $color-accent;
    color: white;
}

.input-field {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    height: 100%;
}

.in-edit {
    font-style: italic;
    color: $color-main;
}

Table #hiddencolumn {
    background: white;
    border: none;
    width: 50px;
}

Table #addbutton {
    border: none;
    background-color: $color-main;
    color: white;
    outline: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: larger;
    cursor: pointer;
    &:active {
        color: $color-accent;
    }
}