@import '../../../styles/defines';


.detailview-container {
  width: 100%;
  margin-top: 10px;
}

.list-body {
  width: 60%;
  margin-top: 25px;

  border-left: 3px solid $color-accent;

  .list-row{
    display: flex;
    flex: 1;
    flex-direction: row;
    & > div {
      padding: 12px 15px;
      font-size: 1.4rem;
      color: $color-text-dark;
    }
    .key{
      width: 65%;
      font-weight: bold;
    }
    .value{
      width: 35%;
      text-align: right;
      font-weight: 400;
    }
  }
}